.TimeSheet {
    width: 500px;
    margin: 0 auto;
    min-height: 300px;
    background-color:  #032643;
    color: #EBE34F;
    border-radius: 5px;
}

.TimeSheet ul {
    padding-left: 0;
    margin-left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.addRow {
    float: right;
    margin-right: 30px;
}

.addRow i {
    margin-right: 5px;
}


